html {
    background-color: #FAFAFA;
}

body {
    width: 400px;
    margin: 0 auto;
    background-color: #E3F2FD;
    padding: 0 20px 20px 20px;
    border: 1px solid #DFA3AF;
}

h2 {
    margin: 0;
    padding: 20px 0;
    color: #00539F;
    text-align: center;
}

form {
    border: 1px solid #DFA3AF;
}

p {
    text-align: center;
    color: black;
}

#id_div_msg {
    width: 400px;
    height: 50px;
    margin: 0 auto;
    padding: 0 0 0 0;
    border: 1px solid #DFA3AF;
    background-color: #DB5461; 
    bottom: 0;
}
#id_text_msg {
    text-align: center;
    color: #FAFAFA; 
}